.page-back-tabs-top .tab-connection-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.tab-action-header-div {
  padding: 0;
  margin: 0 0 15px 0;
  position: relative;
}

.tab-action-header-div .title-div h1 {
  padding: 4px 0;
  margin: 0 0 0px 0;
  font-size: 20px;
  color: #3f3f3f;
  letter-spacing: -0.15px;
  line-height: 32px;
  font-weight: 600;
}

.tab-action-header-div .action-btn-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.tab-action-header-div .action-btn-right .button-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tab-action-header-div .action-btn-right .btn.btn-action {
  padding: 2px 15px;
  font-size: 18px;
}

.tab-action-header-div .action-btn-right .btn.btn-action span.text-span {
  font-size: 18px;
  margin: 0 0 0 5px;
}

.tab-action-header-div .action-btn-right .btn.btn-action .fe.fe-trash-2 {
  font-size: 20px;
  display: inline-block;
  position: relative;
  bottom: -1px;
}

.tab-action-header-div .action-btn-right .btn.btn-action.mr-6 {
  margin-right: 6px;
}

.white-tabs-card-main-div .white-card-root {
  padding: 0;
}

.white-tabs-card-main-div .tab-container-root .tab-container-header {
  padding: 25px 25px 15px 25px;
  border-bottom: 1px solid #ededed;
}

.white-tabs-card-main-div .tab-container-root .tab-container-header .nav-tabs {
  border: none;
}

.white-tabs-card-main-div .tab-container-root .tab-container-header .nav-tabs li.nav-item {
  margin: 0 10px 10px 0;
}

.white-tabs-card-main-div .tab-container-root .tab-container-header .nav-tabs li.nav-item .nav-link {
  padding: 5px 25px;
  margin: 0;
  border: 1px solid #e0e4e2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #222;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  border-radius: 4px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 1.25px;
  text-align: center;
  line-height: 16px;
  min-height: 46px;
  text-transform: capitalize;
  background-color: transparent;
  -webkit-box-shadow: 0 5px 5px 0 rgba(12, 64, 107, 0.05);
          box-shadow: 0 5px 5px 0 rgba(12, 64, 107, 0.05);
  min-width: 90px;
}

.white-tabs-card-main-div .tab-container-root .tab-container-header .nav-tabs li.nav-item .nav-link:hover {
  border: 1px solid #1f9cde;
  background: #1f9cde;
  color: #fff;
}

.white-tabs-card-main-div .tab-container-root .tab-container-header .nav-tabs li.nav-item .nav-link.active {
  border: 1px solid #1f9cde;
  background: #1f9cde;
  color: #fff;
}

.white-tabs-card-main-div .tab-container-root .tab-container-inner {
  width: 100%;
  padding: 5px 10px;
}

@media (max-width: 767px) {
  .page-back-tabs-top .tab-connection-right .button-div {
    width: 100%;
    margin: 15px 0 0 0;
  }
  .page-back-tabs-top .tab-connection-right .button-div .btn.btn-primary {
    width: 100%;
  }
  .white-tabs-card-main-div .tab-container-root .tab-container-header {
    padding: 15px 15px 5px 15px;
    border-bottom: 1px solid #ededed;
  }
  .white-tabs-card-main-div .tab-container-root .tab-container-header .nav-tabs li.nav-item .nav-link {
    padding: 5px 15px;
    font-size: 13px;
    letter-spacing: 1px;
    min-height: 40px;
    min-width: 70px;
  }
  .white-tabs-card-main-div .tab-container-root .tab-container-inner {
    width: 100%;
    padding: 5px 0;
  }
  .tab-action-header-div {
    margin: 0 0 25px 0;
  }
  .tab-action-header-div .title-div {
    margin: 0 0 10px 0;
  }
  .tab-action-header-div .action-btn-right .button-div {
    width: 100%;
  }
  .tab-action-header-div .action-btn-right .button-div .btn.btn-action.btn-edit {
    width: calc(50% - 6px);
  }
  .tab-action-header-div .action-btn-right .button-div .btn.btn-action.btn-delete {
    width: calc(50% - 6px);
    margin-left: 6px;
  }
}
/*# sourceMappingURL=new-tab-style.css.map */