@charset "utf-8";
@import url(bootstrap.min.css);
@import url(feather.min.css);
@import url(select-custom.css);
@import url(select2.min.css);
@import url(datepicker-b4.min.css);

/* font-family */

@mixin open-sans-family { font-family: 'Open Sans', sans-serif; }
// @mixin open-sans-family { font-family: 'Roboto', sans-serif; }

/* End of font-family */

/* colors */

$transparent-color: transparent;

$white-color: rgb(255, 255, 255);
$light-white-color: rgba(255, 255, 255, 0.6);
$light-white-color2: rgba(255, 255, 255, 0.5);

$black-color:rgba(0, 0, 0, 1);
$lightblack-color:rgba(0, 0, 0, 0.4);

$primary-color:#1F9CDE;
$primary-color-hover:#1D95D5;

/* End of colors */

/* default css */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; }
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-overflow-scrolling: touch; }
html { text-rendering: optimizeLegibility; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-size-adjust: 100%; scroll-behavior: smooth; }
body { font-size: 14px; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; background-color: $white-color; scroll-behavior: smooth; @include open-sans-family(); }

.wrapper { background-color: $white-color; display: block; height: 100%; }
.wrapper .btn.focus, .wrapper .btn:focus { outline: none; box-shadow:none; }
.wrapper .btn{ transition: all 0.3s ease-in-out; }

.container { max-width: 1200px; }
.container-lg{ max-width: 1280px; }
.page-link:focus { box-shadow: none; }

/* End of default css */

/* general css */

.top-minues10{ margin-top: -10px !important; }
.ml-10{ margin-left: 10px !important; }
.mt-10{ margin-top: 10px !important; }
.mr-10{ margin-right: 10px !important; }
.p0{ padding: 0px !important; }

.plr-40 { padding-right: 40px !important; padding-left: 40px !important; }
.mlr-40 { margin-right: -40px !important; margin-left: -40px !important; }

.plr-20 { padding-right: 20px !important; padding-left: 20px !important; }
.mlr-20 { margin-right: -20px !important; margin-left: -20px !important; }

.plr-10 { padding-right: 10px !important; padding-left: 10px !important; }
.mlr-10 { margin-right: -10px !important; margin-left: -10px !important; }

.min-width-130{ min-width: 130px; }
.min-width-110{ min-width: 110px; }

/* End of general css */


.position-initial{ position: initial; }


.btn.btn-primary{ 
    padding: 0 20px; margin: 0; border: 1px solid #1F9CDE; background-color: #1F9CDE; min-height: 40px; display: flex; align-items: center; justify-content: center; font-weight: 600; border-radius: 4px; transition: all 0.8s; @include open-sans-family(); font-size: 14px; color: #FFFFFF; letter-spacing: 1.25px; text-align: center; line-height: 16px; text-transform: uppercase;
    box-shadow: 0 5px 5px 0 rgba(12, 64, 107, 0.05); 
    &:hover, &:focus{ 
        border: 1px solid #1982b9; background-color: #1982b9; box-shadow: 0 3px 10px 0 rgba(12, 64, 107, 0.3); transform: translateY(-2px);
    }
}

.btn.btn-primary-outline{ 
    padding: 0 20px; margin: 0; border: 1px solid #1F9CDE; background-color: transparent; min-height: 40px; display: flex; align-items: center; justify-content: center; font-weight: 600; border-radius: 4px; transition: all 0.8s; @include open-sans-family(); font-size: 14px; color: #1F9CDE; letter-spacing: 1.25px; text-align: center; line-height: 16px; text-transform: capitalize;
    box-shadow: 0 5px 5px 0 rgba(12, 64, 107, 0.05); 
    &:hover, &:focus{ 
        border: 1px solid #1982b9; background-color: #1982b9; color:#fff; box-shadow: 0 3px 10px 0 rgba(12, 64, 107, 0.3); transform: translateY(-2px);
    }
}

.btn-link {
    font-weight: 600; font-size: 16px; color: #1F9CDE; letter-spacing: -0.06px; text-align: center; line-height: 24px; padding: 5px 0; transition: all 0.8s; @include open-sans-family();
    &:hover, &:focus{ 
        color: #1982b9;
    }
}

.btn.btn-blue{
    padding: 5px 20px; margin: 0; background: rgba(31,156,222,0.08); border: 1px solid rgba(31, 156, 222, 0.08); font-weight: 600; font-size: 18px; color: #1F9CDE; letter-spacing: -0.13px; width: 100%; text-align: center; min-height: 40px; display: flex; align-items: center; justify-content: center; transition: all 0.8s; font-family: 'Open Sans', sans-serif; border-radius: 0;
    &:hover, &:focus{ 
        background: rgba(31,156,222,1); border: 1px solid rgba(31, 156, 222, 1); box-shadow: 0 3px 10px 0 rgba(31, 156, 222, 0.1); color: #fff; transform: translateY(-2px);
    }
    &.disabled{ background: rgba(63,63,63,0.04); border: 1px solid rgba(63,63,63,0.54); color: #3F3F3F; opacity: 0.31; transform: translateY(0px); }
}

.max3-lines{ display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3; overflow: hidden; }

.display_show{ display: block; }
.position-fixed{ position: unset !important; overflow: hidden; }

/* add svg icons */

.right-arrowicon{  -webkit-mask: url(../images/icons/arrow-right.svg) no-repeat 50% 50%; mask: url(../images/icons/arrow-right.svg) no-repeat 50% 50%; -webkit-mask-size: contain;  display: inline-block;  vertical-align: middle;  mask-size: cover; width: 24px; height: 18px;  color: rgba(110, 132, 163, 0.5);  fill: rgba(110, 132, 163, 0.5);  background-color: rgba(110, 132, 163, 0.5); margin: 0 0 0 10px; }


/* select2 */

.select2-container .select2-dropdown { margin-top: -10px; }

.select-box{  position: relative; display: flex; align-items: center;  }
.form-control.select-control { border: 1px solid #C0C0C0; border-radius: 0px; min-height: 50px; color: #3F3F3F; padding: 0 20px; font-size: 18px; font-weight: 400; width: 100%; -webkit-appearance: none; background: #fff; position: relative; }
.form-control.select-control:focus{ outline: none; box-shadow:none; }

.select-custom2{ 
    span.select2-selection.select2-selection--single { border: 1px solid #DFEAF1 !important; border-radius: 0px; min-height: 50px; color: #3C454C; padding: 10px 10px; font-size: 18px; font-weight: 400; width: 100%; -webkit-appearance: none; background: #FAFCFD; position: relative; }
    .select2.select2-container .select2-selection .select2-selection__arrow { -webkit-border-radius: 0 0px 0px 0; -moz-border-radius: 0 0px 0px 0; border-radius:0 0px 0px 0; height: 37px; width: 37px; background-color: transparent; border: none; }
        .select2-container--default .select2-selection--single .select2-selection__arrow b{ 
            border: none; top: 10px; left: 5px; speak: none; font-variant: normal; font-family: 'Material Icons'; font-weight: normal; font-style: normal; font-size: 24px; line-height: 1; letter-spacing: normal; text-transform: none; display: inline-block; white-space: nowrap; word-wrap: normal; direction: ltr; -webkit-font-feature-settings: 'liga'; -webkit-font-smoothing: antialiased; color: rgba(63, 63, 63, 0.42);
            &::before{ content: '\e5c5'; }        
    }
}
.select2-container .select2-dropdown .select2-search input { outline: none; border: 1px solid #DFEAF1; border-bottom: none; padding: 10px 10px; }
.select2-container .select2-dropdown .select2-results ul { background: #fff; border: 1px solid #DFEAF1; }
.select2-container .select2-dropdown .select2-results ul .select2-results__option--highlighted[aria-selected] { background-color: #1F9CDE; }
.select2-results__option { padding: 10px; }
 
/* single select */

.selectbox-inline{ position: relative; 
    .select-custom2{ 
        span.select2-selection.select2-selection--single { border: 1px solid transparent !important; border-radius: 0px; min-height: 40px; color: #3C454C; padding: 7px 10px; font-size: 16px; font-weight: 600; width: auto; -webkit-appearance: none; background: transparent; position: relative; border-radius: 10px; }
        .select2.select2-container .select2-selection .select2-selection__arrow { -webkit-border-radius: 0 0px 0px 0; -moz-border-radius: 0 0px 0px 0; border-radius: 0 0px 0px 0; height: 47px; width: 37px; background-color: transparent; border: none; }
        
        &.select-common{
            span.select2-selection.select2-selection--single { border: 1px solid #C7C7C7 !important; height: 58px; background-color: transparent; border-radius: 0; font-size: 20px; font-weight: 300; padding: 12px 15px; }
        } 
    }
}

/* select with number */

.max-input-div{ position: relative;
    .select-box.select-custom2 {  position: absolute; left: 1px; top: 1px; background-color: #fff; width: 95px; border-right: 0px solid #C7C7C7; min-height: 46px; }
    .selectbox-inline .select-custom2 span.select2-selection.select2-selection--single { border: 1px solid transparent !important; border-radius: 0px; min-height: 44px; color: #3C454C; padding: 6px 10px; font-size: 16px; font-weight: 600; width: auto; -webkit-appearance: none; background: transparent; position: relative; border-radius: 10px; margin: 2px 0 2px 0; }
    .form-control{
        padding-left: 100px !important; padding-right: 20px !important;
    }
    .btn-link { line-height: 34px; position: absolute; top: 1px; right: 1px; width: auto; padding: 10px 15px; min-height: 57px; display: flex; }
}



/* End of number select **/

/*  End of general css */

/* header */

header{
    position: relative;

    .header-div.scrollUp { transform: translateY(-100px); background-color: $white-color; }

    .fixed_top.header-div{

        .top-nav1 { padding: 10px 0 20px 0; }
        // .ullist-inline li .nav-link{ color: #00A685; }
        .scroll-logo{ display: block; }
        
    }
    
    .header-div.header-bgcolor { 

        padding: 0; margin: 0; background-color: $white-color; position: fixed; z-index: 9999; width: 100%; min-height: 75px; transition: all 0.5s; top: 0; left: 0; box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        
        .logo_img { width: 200px; }
        .logo-div { min-height: 75px; }
        .nav-center-div{ min-height: 75px; }
        .header-right-div{ min-height: 75px; }
        
        
        .logo_img.text-logo{ display: block; width: auto; height: 40px; }
        // .ullist-inline li .nav-link { color:  $primary-color; }
        // .ullist-inline li .nav-link:hover{ color: $primary-color-hover; }
        // .ullist-inline li.active .nav-link{ color: $primary-color; }


    } 

    .header-div{ min-height: 96px; 
        .logo-div{ min-height: 96px; position: relative;
            &:after { content: ""; border-right: 1px solid #E0E4E2; height: 56px; position: absolute; right: 0; }
        }
        .nav-center-div{ min-height: 96px; }
    }

    .header-div { 
        padding: 0; margin: 0; position: absolute; z-index: 999; width: 100%;  background: #FFFFFF; border: 1px solid rgba(0, 36, 17, 0.1); box-shadow: 0 12px 34px 0 rgba(224, 228, 226, 0.17); transition: all 0.8s;
        
        .logo-div { padding: 0px 0px 0px 0px; margin: 0; display: flex; float: left; width: 25%; align-items: center;  }
        .nav-center-div{ padding: 15px 0px 15px 0px; margin: 0; display: flex; float: left; width: 75%; align-items: center; justify-content: flex-end;  }
        
        .main-logo{ display: block; }
        .logo_img{ transition: display ease-in-out 0.5s; width: 235px; height: 56px; object-fit: contain; object-position: left; }
        
        /* start navigation  **/

        .top-nav1 { display: flex; justify-content: flex-end; align-items: center; padding: 0px 0 0 0; width: 100%;  }
        .inner-top-header-div{ padding: 0;margin: 0; }
        .inner-top-header-div.top-nav1 { padding: 0; margin: 0; float: right; }

        .cd-shadow-layer { position: fixed; min-height: 100%; width: 100%; top: 0; left: 0; background: rgba(0, 0, 0, 0.4); cursor: pointer; z-index: 99999; display: none; }
        .cd-shadow-layer.is-visible { display: block; -webkit-animation: cd-fade-in 0.3s; -moz-animation: cd-fade-in 0.3s; animation: cd-fade-in 0.3s; }

        .display-none{ display: none !important; }
        .nav-div .closebtn { display: none; }

        .ullist-inline { 
            padding: 0 0 2px 0; margin: 0px 0px 0 0; display: flex; align-items: center; min-height: 45px; 
                
            li{ padding: 0;margin: 0 35px 0 0;display: inline-block;text-transform: capitalize;font-size: 14px; }
            li.nav-item.dropdown.btn-user-dropdown { margin: 0; }
            li:last-child{ margin: 0 0 0 0; }
            li .nav-link { color: #000000;  padding: 10px 0px 3px 0; font-weight: 400; border-bottom: 1px solid transparent; line-height: 1.5; font-size: 18px; letter-spacing: -0.13px; }
            li .nav-link { position: relative; display: inline-block; overflow: hidden; }
            li .nav-link:before { left: 0px; bottom: 0; width: 100%; height: 1px; background: #000000; transform: translateX(-101%); }
            li .nav-link:hover:before { transform: translateX(0); }
            li .nav-link:before, li .nav-link:after, li .nav-link > span:before, li .nav-link > span:after { content: ''; position: absolute; transition: transform .5s ease; }
            li .nav-link:hover{ color: #000000;  }
            li.active .nav-link{ color: #000000;  }
            li.active .nav-link:before { left: 0px; bottom: 0; width: 100%; height: 1px; background: #000000; transform: translateX(0%); }
            .dropdown-toggle::after{ display: none; }
            .dropdown-menu{ 
                border: 1px solid #DFEAF1;   min-width: 125px; border-radius: 0px;
                li{ display: block; width: 100%; 
                    a{ 
                        padding: 6px 15px; width: 100%; display: block; margin: 0 0 5px 0; color: rgba(11, 22, 43, 0.5); font-size: 16px; font-weight: 500; transition: 0.5s;
                        &:hover{ background-color: #F2F7F9; color: #0B162B; }
                    }
                    
                }
            }
        
        }

        .nav-m-bar .menu-bars {display: none;}
        
        /*  End of navigation  */

    }

}

/* End of header */

/* banner */

.main-middle-area{
    padding: 96px 0 0 0; margin: 0; position: relative; background-color: #FDFDFD; min-height: 100vh;
}

.heading-div{
    h1{ padding: 0; margin: 0 0 30px 0; font-size: 24px; color: rgba(0, 0, 0, 0.4); letter-spacing: -0.09px; text-align: center; line-height: 32px; font-weight: 400; }
    p{ padding: 0; margin: 0 0 30px 0; color: #092A47; font-size: 16px; line-height: 25px; font-weight: 400;  }
    .span-block{ display: block; }
}

.form-div{
    padding: 0; margin: 0 0 10px 0; position: relative;
    .form-group {
        margin-bottom: 20px;
        label {
            font-size: 16px; color: #888888; letter-spacing: 0; font-weight: 400; margin-bottom: 8px; line-height: 20px;
        }
        .form-control{
            background: #FFFFFF; border: 1px solid rgba(0,0,0,0.32); border-radius: 4px; font-weight: 400; color: #000000; font-size: 16px; line-height: 24px; min-height: 50px; padding: 10px 16px; transition: all 0.4s; box-shadow: none; margin-bottom: 5px; letter-spacing: 0.15px; @include open-sans-family();
            &::-webkit-input-placeholder { color: rgba(0,0,0,0.6); }
            &::-moz-placeholder { color: rgba(0,0,0,0.6); }
            &:-ms-input-placeholder { color: rgba(0,0,0,0.6); }
            &:-moz-placeholder { color: rgba(0,0,0,0.6); }
        }
        textarea.form-control{
            resize: none;
        }
    }    

    .form-group-custom{
        .form-control { background: #FFFFFF; border: 1px solid rgba(192, 192, 192, 0.6); box-shadow: 0 3px 6px 0 rgba(192,192,192,0.20); border-radius: 2px; 
            @include open-sans-family();
        }
    }

    .password-box{
        padding: 0; position: relative;
        &.form-group{
            .form-control{ padding-right: 50px; }
        }
        .password-view-click { 
            padding: 0; margin: 0; min-height: 50px; min-width: 50px; height: 100%; position: absolute; top: 0; right: 0; display: flex; align-items: center; justify-content: center; background-color: transparent; border: none; color: rgba(151, 151, 151, 0.4); transition: 0.8s all;z-index: 9; cursor: pointer;
            .password-view{ color: rgba(0, 0, 0, 0.2); font-size: 24px; transition: 0.8s all; }
            .password-hide{ color: rgba(0, 0, 0, 0.2); font-size: 24px; transition: 0.8s all; }
            &:hover, &:focus, &:active{
                box-shadow: none; outline: none; 
                .password-view{ color: rgba(0, 0, 0, 0.2); }
            }
        }
    } 

    .custom-switch{
        position: relative; min-height: 50px; padding-left: 0; display: flex; align-items: center; flex-wrap: wrap;
        .custom-control-input { position: absolute; left: 0; z-index: -1; width: 1rem; height: 1.25rem; opacity: 0; display: none; }
        .custom-control-label { position: relative; margin-bottom: 0; vertical-align: top; padding-left: 62px; cursor: pointer; }
        .custom-control-label::before { left: 0rem; width: 42px; pointer-events: all; border-radius: 100px; position: absolute; top: 0; display: block; height: 20px; pointer-events: none; content: ""; background-color: #fff; border: 1px solid rgba(151, 151, 151, .48); }
        .custom-control-label::after {
            position: absolute; display: block; content: ""; background: no-repeat 50%/50% 50%; top: 4px; left: 4px; width: calc(1rem - 4px); height: calc(1rem - 4px); background-color: #D8D8D8; border-radius: .5rem; -webkit-transform: translateX(22px); transform: translateX(22px);
            transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-transform .15s ease-in-out;
            transition: transform .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            transition: transform .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-transform .15s ease-in-out;
        }
        .custom-control-label::before, .custom-file-label, .custom-select { transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; }
        .custom-control-input:checked~.custom-control-label::before { color: #fff; border-color: #1AAA44; background-color: #1AAA44; }
        .custom-control-input:checked~.custom-control-label::after { background-color: #fff; -webkit-transform: translateX(0px); transform: translateX(0px); }
        .text-span { font-weight: 600; font-size: 16px; color: #000000; letter-spacing: -0.12px; }
    }

}


.general-single-forms-section{  
    padding: 0; margin: 0; position: relative;  min-height: calc(100vh - 96px);

    .general-single-forms-div{ 
        padding: 0; margin: 0; position: relative; background-color: $white-color; display: flex; align-items: center; overflow: hidden;
        .height-100{   display: flex; align-items: center;  }
    }
}

.center-general-form-div{ 
    padding: 110px 0 80px 0; margin: 0 auto; position: relative; width: 100%; height: 100%; max-width: 420px;
    .forgot-div { text-align: center; padding: 0px 0 15px 0;
        p { font-size: 16px; color: #000000; letter-spacing: -0.06px; text-align: center; line-height: 20px; font-weight: 400; @include open-sans-family(); }
    }
    .form-input-group.form-div { min-height: 125px; }
}


.page-header{
    padding: 30px 0 20px 0; margin: 0; position: relative;
    h1{ padding: 4px 0; margin: 0 0 0px 0; font-size: 20px; color: rgba(0, 0, 0, 0.4); letter-spacing: -0.15px; line-height: 32px; font-weight: 600; }
    .search-div{ padding: 0px 0; margin: 0; }
    .search-box{
        padding: 0px 0; margin: 0; position: relative;
        .form-search {
            background: rgba(0, 0, 0, 0.04); border: 1px solid #F5F6FA; border-radius: 4px; font-weight: 300; font-size: 18px; color: #000000; letter-spacing: 0; padding: 5px 35px 5px 15px; min-height: 40px; margin: 0 0 0 0; box-shadow: none;
            &::-webkit-input-placeholder { color: #000000;}
            &::-moz-placeholder { color: #000000;}
            &:-ms-input-placeholder { color: #000000;}
            &:-moz-placeholder { color: #000000;}            
        }
        .icon-search {
            font-size: 21px; color: #000000;
        }
        .btn-search{ position: absolute; top: 0px; right: 0px; background: transparent; border: 1px solid transparent; outline: none; padding: 8px 10px 6px 10px; min-height: 40px; width: 42px; }
    }

    /* connection */

    .connection-right{
        padding: 0; margin: 0; display: flex; justify-content: flex-end;
        .mr-10 { margin-right: 10px; }
        .search-div{ width: 100%;     }
        .search-box { 
            width: 100%; display: flex; justify-content: flex-end; 
            .form-search{ padding: 7px 35px 6px 15px; min-height: 42px; width: 100%; }
            .icon-search{ top: 11px; }
        }
        
        .search-hover-div{
            .search-box{ transition: all 0.8s; 
                .form-search{ width: 42px; padding-right: 20px; padding-left: 20px; transition: all 0.8s;
                    &::-webkit-input-placeholder { color: transparent;}
                    &::-moz-placeholder { color: transparent;}
                    &:-ms-input-placeholder { color: transparent;}
                    &:-moz-placeholder { color: transparent;}            
                }
                .icon-search-cancel { font-size: 20px; background-color: transparent; height: 24px; width: 24px; display: flex; align-items: center; justify-content: center; padding: 0 0 2px 0; display: none; transition: all 0.8s;  }
                &.full-width-input{
                    .form-search{  width: 100%; padding-right: 40px; padding-left: 15px; 
                        &::-webkit-input-placeholder { color: #000000;}
                        &::-moz-placeholder { color: #000000;}
                        &:-ms-input-placeholder { color: #000000;}
                        &:-moz-placeholder { color: #000000;}      
                    }
                    .icon-search{ display: none; }
                    .icon-search-cancel{ display: flex; }
                }
            }
        }
    }

    /* End of connection */

}

.page-back-top{
    padding: 35px 0 20px 0; margin: 0; position: relative;
    .back-div { display: flex; align-items: center; flex-wrap: wrap; }
    h2{ padding: 6px 0 2px 0; margin: 0 0 0px 0; font-size: 20px; color: rgba(0, 0, 0, 0.4); letter-spacing: -0.15px; line-height: 32px; font-weight: 400; display: inline-block; }
    .back-link-div { display: inline-block; }
    .link-back { margin: 0 30px 0 0; display: flex; align-items: center; min-height: 40px; font-weight: 600; font-size: 20px; color: #000000; letter-spacing: -0.15px; transition: all 0.8s;
        span.material-icons { margin: 0 40px 0 0;  transition: all 0.8s; }
        &:hover, &:focus, &:active{
            color: #1F9CDE;
        }
    }
    
}

/* End of Search */

/* data table  */

.action-btn-row { display: flex; justify-content: flex-end; }
.btn.btn-action { background: rgba(110,132,163,0.10); border-radius: 4px; min-height: 40px; padding: 2px; min-width: 40px; font-size: 23px; color: #6E84A3; transition: all 0.8s; }
.btn.btn-action.btn-edit { background: #f1f3f6; font-size: 22px; color: #6E84A3;
    &:hover{ background: rgba(110,132,163,1);color: #fff; }
}
.btn.btn-action.btn-delete{ background: #fcedef; font-size: 23px; color: #E63757;
    &:hover{background: rgba(230,55,87,1); color: #fff; }
}
.btn.btn-action.btn-qr-code{
    background: #eaf6fc; font-size: 16px; font-weight: 500; color: #000000; padding: 0 15px 0 10px; display: flex; align-items: center;
    .custom-icon { font-size: 23px;color: #1F9CDE; margin: 0 8px 0 0; transition: all 0.8s; }
    &:hover{ background: rgba(31, 156, 222, 1); color: #fff; 
        .custom-icon { color: #fff; }
    }
}

.data-table-root{
    padding:0 0 20px 0; margin:0; position: relative;

    /* custom table */

    .table-custom-list{ padding: 0; margin: 0; border: none !important;
        thead .sorting { background-image: none; }
        thead>tr>th { font-weight: 400; background-color: #F1F1F1; border: none; padding: 10px 15px 10px 15px; font-size: 16px; line-height: 20px; color: #888888; letter-spacing: -0.12px; }
        thead .sorting:before,  thead .sorting_asc:before,  thead .sorting_desc:before,  thead .sorting_asc_disabled:before,  thead .sorting_desc_disabled:before {
            font-family: Feather !important; font-style: normal; font-weight: 400; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: "\e931" !important; color: #000000 !important; bottom: 10px; right: 11px; border-radius: 100px; border: 1px solid #C0C0C0; font-size: 12px; padding: 0 0 6px 3px; height: 20px; width: 20px;
        }
        thead .sorting_asc::after, thead .sorting:after, thead .sorting_desc:after {
            font-family: Feather !important; font-style: normal; font-weight: 400; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: "\e92e" !important; color: #000000 !important; bottom: 10px; right: 11px; border-radius: 100px; font-size: 12px; padding: 0 4px 1px 0;
        }
        tbody td { 
            padding: 13px 15px 13px 15px !important; vertical-align: middle; position: relative; background-color: rgba(255, 255, 255, 0.8); color: #000000; font-weight: 300; font-size: 20px; border: none !important; margin: 0 0 10px 0; border-top: 10px solid #fdfdfd !important;
            border-collapse:separate; 
            border-spacing:0 15px; 
            &:first-child{ padding: 13px 15px !important; }
        }

        thead>tr>th.sorting_asc, thead>tr>th.sorting_desc, thead>tr>th.sorting, thead>tr>td.sorting_asc, thead>tr>td.sorting_desc, thead>tr>td.sorting {
            padding-right: 40px !important;    
        }
        
        thead {
            .width-10{  width: 10%; min-width: 100px; }
            .width-15{  width: 15%; min-width: 100px; }
            .width-20{  width: 20%; min-width: 100px; }
            .width-25{  width: 25%; min-width: 100px; }
            .width-40{  width: 40%; min-width: 100px; }
        }

    }

    .mr-6{ margin-right:6px; }

    p { margin: 0; padding: 0; font-weight: 400; font-size: 20px; color: rgba(0,0,0,0.52); }
    p.text-black{ font-size: 18px; color: rgba(0,0,0,1); }
    h3 { margin: 0; padding: 0; font-weight: 600; font-size: 20px; color: #3F3F3F; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 180px; }
    h3.font-size-18{  font-size: 18px; }

    .status { margin: 0; padding: 0; font-weight: 600; font-size: 20px; color: #3F3F3F; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 180px; }
    .status.active-status { color: #1AAA44; }
    .status.inactive-status{ color: #E63757; }

    /* End of custom table */


}

/* End of data table  */



.white-card-top{
    padding:0; margin:0; position: relative;
    .white-card-top-root{ padding: 20px 40px 0px 40px; margin: 0; position: relative; background: #FFFFFF; border: 1px solid rgba(192, 192, 192, 0.3); border-radius: 6px; }

    .form-custom-root{ margin: 0 0 5px 0;
        .btn-group { display: flex; width: 100%; margin: 28px 0 0 0; }
        .btn.btn-primary{ min-height: 50px; padding: 5px 20px; line-height: 24px; font-size: 16px; font-weight: 500; }
    }
}

.white-card-main-div{
    padding:0; margin:0 0 50px 0; position: relative;
    .white-card-root{ padding: 30px 25px 10px 25px; margin: 0; position: relative; background: #FFFFFF; border: 1px solid rgba(192, 192, 192, 0.3); border-radius: 6px 6px 0px 0px; }
}

/*  Add Activity  */

.upload-section-div{
    padding:0; margin:0; position: relative;
    .upload-box-div{ padding:0; margin: 0 0 20px 0; position: relative; }

    h4{ font-size: 16px; color: #888888; letter-spacing: 0; font-weight: 400; margin-bottom: 8px; line-height: 20px; }

    .change-cover-btn {
        width: 100%; padding: 0; border-radius: 0px; border: none; cursor: pointer;

        .upload-i { margin: 0 0 10px 0; }
        p { padding:0; margin:0; font-weight: 700; font-size: 16px; color: #1F9CDE; letter-spacing: -0.12px; text-align: center; }
        label{ padding: 7px 20px; margin: 0; width: 100%; background-color: rgba(31,156,222,0.08); border: 1px dashed #1F9CDE; color: #1F9CDE; min-height: 165px; display: flex; align-items: center; justify-content: center; opacity: 1; border-radius: 4px; font-size: 16px; font-weight: 400;  cursor: pointer; }
        input[type="file"] { display: none; }

    }

    .image-update-box{ padding:0; margin:0; position: relative; }
    .image-box{  cursor: pointer;
        .img-responsive { height: 165px; object-fit: cover; object-position: center; width: 100%; border-radius: 4px 6px 4px 4px; }
    }

    .top-right-action{ padding: 0; margin: 0; position: absolute; top: 0; right: 0; z-index: 3; }
    .btn.btn-action { border-radius: 4px; min-height: 34px; padding: 0; min-width: 34px; font-size: 20px; }

    .center-play-video-popup { position: absolute; top: 0; left: 0; width: 100%; min-height: 165px; display: flex; align-items: center; justify-content: center;     background-color: rgba(63, 63, 63, 0.35); border-radius: 4px; }
    .btn.btn-transparent { background-color: transparent; color: #fff; padding: 0; margin: 0; border-radius: 100px; transition: all 0.8s;
        span.material-icons.custom-icon { font-size: 36px; }
        &:hover, &:focus{
            color: rgba(255, 255, 255, 0.8)
        }
    }

}   

.file-upload-root{ padding:0; margin:0 0 20px 0; position: relative; 
    min-height: 165px; background-color: #FFFFFF; border: 1px solid rgba(63,63,63,0.16); border-radius: 4px;

    .no-file-upload-div{
        padding:0; margin:0; position: relative;  min-height: 165px; display: flex; align-items: center; justify-content: center; background-color: #FFFFFF; border-radius: 4px;
        h4 { color: rgba(136, 136, 136, 0.48); margin-bottom: 0px; }
    }

    .file-upload-col-div { padding: 8px 15px; margin: 0; position: relative; background: rgba(255,255,255,1); border-bottom: 1px solid rgba(63, 63, 63, 0.16); display: flex; justify-content: space-between;
        .left-text-file { width: calc(100% - 85px); }
        .right-text-file{ width: 85px; text-align: right; }
        h3 { padding:0; margin:0; position: relative; font-weight: 700; font-size: 18px; line-height: 32px; color: #3F3F3F; letter-spacing: -0.13px; white-space: nowrap; word-break: break-word; overflow: hidden; text-overflow: ellipsis; display: inline-block; max-width: 100%; }
    }

}

.add-new-user-root{
    padding:0; margin:0; position: relative;

    .add-new-user-list-div { padding:10px 0 0 0; margin:0 0 20px 0; position: relative; }

    .add-new-user-col-div { padding: 8px 0px; margin: 0 0 8px 0; position: relative; background: rgba(255,255,255,1); border-bottom: 1px solid rgba(63, 63, 63, 0.16); display: flex; justify-content: space-between;
        .left-text-file { width: 40%; }
        .center-text-file{ width: 40%; }
        .right-text-file{ width: 20%; text-align: right; display: flex; justify-content: flex-end;}

        h3 { padding:0 10px 0 0; margin:0; position: relative; font-weight: 700; font-size: 18px; line-height: 32px; color: #3F3F3F; letter-spacing: -0.13px; white-space: nowrap; word-break: break-word; overflow: hidden; text-overflow: ellipsis; display: inline-block; max-width: 100%; }
        p {
            padding:0 10px 0 0; margin:0; position: relative;  font-size: 18px; line-height: 32px; color: #000000; letter-spacing: -0.13px; font-weight: 400;
            white-space: nowrap; word-break: break-word; overflow: hidden; text-overflow: ellipsis; display: inline-block; max-width: 100%;
        }

    }

    .btn.btn-action {
        border-radius: 4px; min-height: 34px; padding: 0; min-width: 34px; font-size: 20px;
        .fe.fe-edit { font-size: 18px; }
    }

}

.white-card-root-footer{
    padding: 20px 25px 20px 25px; margin: 0; position: relative; background: #FFFFFF; border: 1px solid rgba(192, 192, 192, 0.3); border-top: 0px; border-radius: 0px 0px 6px 6px;
    .footer-row { display: flex; justify-content: flex-end; }
}

/* modal */

.modal-custom{
    .modal-dialog { max-width: 550px; }
    .modal-content { background: #FFFFFF; border: 1px solid #EDF2F9; box-shadow: 0 2px 24px 0 rgba(110,132,163,0.08); border-radius: 6px; }

    .modal-header { padding: 20px 40px; border-bottom: 1px solid rgba(176, 176, 176, 0.2); border-top-left-radius: 6px; border-top-right-radius: 6px; align-items: center; 
        button.close { padding: 0; margin: 0; line-height: 30px; }
        h4.modal-title { font-weight: 600; font-size: 20px; color: rgba(0, 0, 0, 0.72); letter-spacing: -0.15px; width: 100%; max-width: calc(100% - 30px); }
    }

    .modal-body{
        padding: 30px 40px 5px 40px; 
    }
    
    .modal-footer{
        padding: 5px 40px 30px 40px; border-top: 0px solid rgba(176, 176, 176, 0.2);
    }

}

.modal { z-index: 99999; }
.modal-backdrop{ z-index: 9999; }

/* End of modal */

/* full modal */

.modal-xl-size{
    .modal-dialog { max-width: 1100px; }
    .modal-content { background: #000; border: 0px solid #EDF2F9; box-shadow: 0 2px 24px 0 rgba(110,132,163,0.08); border-radius: 6px; }

    .modal-close {
        position: absolute; top: 0; right: 0; z-index: 99;
        button.close { padding: 5px 5px 5px 5px; margin: 10px; line-height: 30px; height: 53px; width: 53px; background-color: #DDDDDD; border-radius: 100px; color: #000; opacity: 1; font-size: 24px; display: flex; align-items: center; justify-content: center;  transition: all 0.8s;
            &:hover, &:focus{ outline:none; box-shadow:none; background-color: #fff; }
        }
    }

    .modal-body{
        padding: 0; min-height: 200px;
    }
    
    .modal-footer{
        padding: 5px 40px 30px 40px; border-top: 0px solid rgba(176, 176, 176, 0.2);
    }

}

.video-box {
    padding: 0; margin: 0; position: relative; width: 100%; display: flex; justify-content: center;
    video.full-video {
        width: 100%; margin: 0; padding: 0; position: relative; box-shadow:none; outline:none;
        &:focus{ outline:none; box-shadow:none; }
    }
}
.image-box{
    padding: 0; margin: 0; position: relative; width: 100%; display: flex; justify-content: center;
    .img-responsive { max-width: 100%; height: auto; width: 100%; display: flex; border-radius: 0; }
}

/* End of full modal */

/* 11-08-2020 */

.file-form-group{
    .change-cover-btn {
        width: 100%; padding: 0; border-radius: 0px; border: none; cursor: pointer;
        label { padding: 7px 20px; margin: 0; width: 100%; background-color: rgba(31, 156, 222, 0.08); border: 1px dashed #1F9CDE; color: #1F9CDE; min-height: 60px; display: flex; align-items: center; justify-content: center; opacity: 1; border-radius: 4px; font-size: 16px; font-weight: 400; cursor: pointer; }
        .upload-i { margin: 0 10px 0px 0; }
        p { padding: 0; margin: 0; font-weight: 700; font-size: 16px; color: #1F9CDE; letter-spacing: -0.12px; text-align: center; }
        
        .text-div { display: flex; align-items: center; }
        input[type="file"] { display: none; }
    }
}

.upload-section-div{
    .upload-box-div{
        .image-box{ position: relative; }
        .img-thumb{ position: relative; }
    }
    .text-desc-file-box { position: absolute; bottom: 0; left: 0; height: 100%; width: 100%; display: flex; justify-content: flex-end; background-color: rgba(0, 0, 0, 0.2); flex-direction: column;
        .text-desc-inner-box{ padding: 10px; width: 100%; word-break: break-word; display: block; }
        h4 { color: #fff; font-weight: 700; font-size: 14px; line-height: 18px;  width: 100%; overflow: hidden; white-space: nowrap; word-break: break-word; text-overflow: ellipsis; }
        p { color: #fff; font-weight: 500; font-size: 13px; line-height: 14px; letter-spacing: 0; width: 100%; overflow: hidden; white-space: nowrap; word-break: break-word; text-overflow: ellipsis; }
    }

    .center-play-video-popup{ z-index: 2; }

} 

.modal{
    .common-center-div{
        .image-box { flex-direction: column; }

        .text-desc-file-box { position: absolute; bottom: 0; left: 0; height: 100%; width: 100%; display: flex; justify-content: flex-end;  flex-direction: column;
            .text-desc-inner-box{ padding: 20px; width: 100%; word-break: break-word; display: block;background-color: rgba(0, 0, 0, 0.2); border-radius: 0; }
            h4 { color: #fff; font-weight: 700; font-size: 24px; line-height: 36px;  width: 100%; word-break: break-word; }
            p { color: #fff; font-weight: 500; font-size: 16px; line-height: 22px; letter-spacing: 0; width: 100%; word-break: break-word; }
        }

    }
}
 


/* End of 11-08-2020 */


@media (min-width: 1025px) {
    
    header .header-div .ullist-inline .dropdown-menu {
        margin: 35px 0 0 0px; left: auto !important; right: 0;
        &:before{ 
            content: ""; border-top: 10px solid $transparent-color; border-left: 10px solid $transparent-color; border-bottom: 10px solid $white-color; border-right: 10px solid #ffffff; display: inline-block; position: absolute; top: -19px; right: -1px;
        }
    }
    header .header-div .ullist-inline .btn-user-dropdown .dropdown-menu{ border: none;
        &::before{ top: -19px; right: 0px; }
        ul { margin-right: 1px; }
    }
    .max-md-1920{
        margin: 0 auto !important; max-width: 1920px !important; position: relative !important;
    }

}

@media (min-width: 1025px) and (max-width: 1290px) {
    
    .container {
        max-width: 1100px;
    }

}

@media (min-width: 1025px) and (max-width: 1450px) {

    .heading-div{  h2 { font-size: 36px; line-height: 48px; } }
    h2 { font-size: 36px; line-height: 48px; }
    p{ font-size: 14px; line-height: 26px; }
    .btn-link{ font-size: 14px; line-height: 26px; }


    

}

@media (min-width: 1450px) and (max-width: 1700px) {

}

@media (max-width: 767px) {

    body{ overflow-x: hidden; }
    body.overflow-fixed{ overflow-y:hidden; }

    .main-middle-area { padding: 76px 0 0 0; }

    header{
        .header-div{

            min-height: 70px; background-color: $white-color;

            .nav-center-div { width: 30%; order: 3; min-height: 70px; padding: 0; justify-content: flex-end; }
            .logo-div { width: 70%; order: 1; 
                &:after{ opacity:0; }
                .logo_img{ width: 200px; height: 46px; }
            }
            // .logo-div .logo_link  { width: 180px; }
            
            .top-nav1 {display: flex;align-items: center; height: 100%; justify-content: flex-end; }
            .nav-m-bar .menu-bars{ font-size: 30px; color: $white-color; display: flex; align-items: center;}
            .nav-div { height: 100%; width: 300px; position: fixed; z-index: 9999999; top: 0; right: -500px; background-color: #1F9CDE; overflow-x: hidden; padding-top: 60px; transition: 0.5s; transition: 0.8s right; }
            .nav-div .closebtn { position: absolute; color: #ffffff; background-color: transparent;  border-radius: 0 0 0 30px; top: 0; min-width: 45px; text-align: center; height: 45px; display: flex; justify-content: center; align-items: center; right: 0; font-size: 40px; font-weight: 300; line-height: 35px; margin-top: 15px; margin-right: 10px; }
            .nav-div .closebtn:hover { color: rgba(255, 255, 255, 0.85); }
            .nav-div .closebtn { display:block;}

            .width80{ right: 0; display: flex; flex-direction: column; }
            .opacityon{ opacity: 1; }
            .cd-shadow-layer.displayblock{ display: block;  height: 100%; overflow: hidden; }
            
            .nav{ margin: 0 auto; }

            .max-container-container{ bottom: 20px; }
            .banner-caption { padding: 0px 0; }
            .banner-section .banner-div .center_title .social-icon-div ul { margin: 0 0 8px 0; }

            .header-container {display: flex;}
            .header-right-div {align-items: center;}
            
            .logo-div { padding: 15px 0; min-height: 70px; }
            
            .nav-div .closebtn {display: block; color: #ffffff;}

            .ullist-inline li{ width: 100%; margin: 0; }
            .ullist-inline li .nav-link {color:rgba(255, 255, 255, 0.8) !important; padding: 10px 20px; white-space: nowrap; width: 100%; text-align: left; }
            .ullist-inline li.active .nav-link { color: rgba(255, 255, 255, 1) !important; }
            
            a.btn.btn-blue.top-minues10 { margin: 10px !important; border-radius: 0px; }

            .ullist-inline li .nav-link.btn-user { 
                margin: 0px 0 0 0; width: 100%;  border-radius: 0px; 
                &::before{ display: none; }
            }
            .dropdown-toggle::after{  margin: 10px 0 10px 10px; }
            .dropdown-menu.show { position: relative !important; top: auto !important; left: auto !important; min-width: 100% !important; width: 100%; margin: 0rem 0 0; transform: none !important; text-align: center; }

        }   

        .header-div.scrollUp { transform: initial; }

    }

    .position-fixed {
        overflow: hidden;
    }

    .center-general-form-div {
        .form-input-group.form-div {
            min-height: auto;
        }
    }
    
    /* Search */

    .page-header {
        .connection-right {
            flex-direction: column; margin-top: 16px;
            .search-div{ margin-bottom: 10px; 
                .search-box{
                    .form-search{  width: 100%; padding-right: 40px; padding-left: 15px; 
                        &::-webkit-input-placeholder { color: #000000;}
                        &::-moz-placeholder { color: #000000;}
                        &:-ms-input-placeholder { color: #000000;}
                        &:-moz-placeholder { color: #000000;}      
                    }
                    .icon-search{ display: flex; }
                    .icon-search-cancel{ display: none; }
                    &.full-width-input{
                        .icon-search{ display: flex !important; }
                        .icon-search-cancel{ display: none !important; }
                    }
                }
                
            }
            .btn.btn-primary.btn-primary2 { width: 100%; }
        }
    }
    
    /* End of Search */

    /** Data table **/

    .data-table-root{
        .table-custom-list{
            
            thead .width-15 { min-width: 105px; }
            thead .width-20 { min-width: 110px; }
            thead .width-40 { min-width: 130px; }

        } 

        p { font-size: 16px; }
        h3{ font-size: 16px; }
        .status{ font-size: 16px; }

    } 

    /** End of Data table **/

    /* modal */

    .modal-custom{
        .modal-header{ padding: 20px 20px; }
        .modal-body { padding: 30px 20px 5px 20px; }
        .modal-footer { padding: 5px 20px 30px 20px;}
    } 

    /* End of modal */

    .page-back-top {
        .back-div{ justify-content: space-between; }
        .link-back {
            span.material-icons {
                margin: 0 10px 0 0;
            }
        }
    }

    
    .white-card-top {
        .white-card-top-root {
            padding: 20px 20px 20px 20px;
            .btn-group{
                margin: 0px 0 0 0;
            }
        }
    }
    
    /* Add new activity */

    .white-card-main-div {
        .white-card-root {
            padding: 30px 15px 10px 15px;
        }
    }

    .file-upload-root {
        .file-upload-col-div {
            h3 { padding: 4px 0 3px 0; font-size: 14px; line-height: 24px; }
        }
    }

    .form-div {
        .custom-switch {
            min-height: 40px;
        }
    }
    
    .add-new-user-root {
        .add-new-user-col-div {
            padding: 20px 0px; margin: 0 0 5px 0; justify-content: flex-start; flex-direction: column;
            .left-text-file { width: 100%; }
            .center-text-file{ width: 100%; }
            .right-text-file{ width: 100%; justify-content: flex-start; text-align: left; margin: 10px 0 0 0; }
        }
    }
        

    /* End of Add new activity */

    /* modal */

    .modal-xl-size {
        .modal-close {
            button.close { padding: 2px 2px 2px 2px; margin: 10px; line-height: 30px; height: 30px; width: 30px; font-size: 18px; }
        }
    }
    

    /* End of modal */

}

@media (min-width: 768px) and (max-width: 1024px) {

    body{ overflow-x: hidden; }
    body.overflow-fixed{ overflow-y:hidden; }

    .main-middle-area { padding: 76px 0 0 0; }

    .heading-div{ 
        h2{ font-size: 28px; } 
        p{ font-size: 16px; } 
    }

    header{
        .header-div{

            min-height: 70px; background-color: $white-color;

            .nav-center-div { width: 30%; order: 3; min-height: 70px; padding: 0; justify-content: flex-end; }
            .logo-div { width: 70%; order: 1; 
                &:after{ opacity:0; }
                .logo_img{ width: 200px; height: 46px; }
            }
            // .logo-div .logo_link  { width: 180px; }
            
            .top-nav1 {display: flex;align-items: center; height: 100%; justify-content: flex-end; }
            .nav-m-bar .menu-bars{ font-size: 30px; color: $white-color; display: flex; align-items: center;}
            .nav-div { height: 100%; width: 300px; position: fixed; z-index: 9999999; top: 0; right: -500px; background-color: #1F9CDE; overflow-x: hidden; padding-top: 60px; transition: 0.5s; transition: 0.8s right; }
            .nav-div .closebtn { position: absolute; color: #ffffff; background-color: transparent;  border-radius: 0 0 0 30px; top: 0; min-width: 45px; text-align: center; height: 45px; display: flex; justify-content: center; align-items: center; right: 0; font-size: 40px; font-weight: 300; line-height: 35px; margin-top: 15px; margin-right: 10px; }
            .nav-div .closebtn:hover { color: rgba(255, 255, 255, 0.85); }
            .nav-div .closebtn { display:block;}

            .width80{ right: 0; display: flex; flex-direction: column; }
            .opacityon{ opacity: 1; }
            .cd-shadow-layer.displayblock{ display: block;  height: 100%; overflow: hidden; }
            
            .nav{ margin: 0 auto; }

            .max-container-container{ bottom: 20px; }
            .banner-caption { padding: 0px 0; }
            .banner-section .banner-div .center_title .social-icon-div ul { margin: 0 0 8px 0; }

            .header-container {display: flex;}
            .header-right-div {align-items: center;}
            
            .logo-div { padding: 15px 0; min-height: 70px; }
            
            .nav-div .closebtn {display: block; color: #ffffff;}

            .ullist-inline li{ width: 100%; margin: 0; }
            .ullist-inline li .nav-link {color:rgba(255, 255, 255, 0.8) !important; padding: 10px 20px; white-space: nowrap; width: 100%; text-align: left; }
            .ullist-inline li.active .nav-link { color: rgba(255, 255, 255, 1) !important; }
            
            a.btn.btn-blue.top-minues10 { margin: 10px !important; border-radius: 0px; }

            .ullist-inline li .nav-link.btn-user { 
                margin: 0px 0 0 0; width: 100%;  border-radius: 0px; 
                &::before{ display: none; }
            }
            .dropdown-toggle::after{  margin: 10px 0 10px 10px; }
            .dropdown-menu.show { position: relative !important; top: auto !important; left: auto !important; min-width: 100% !important; width: 100%; margin: 0rem 0 0; transform: none !important; text-align: center; }

        }   

        .header-div.scrollUp { transform: initial; }

    }

    .position-fixed {
        overflow: hidden;
    }

    .prag-breack{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 7;
        overflow: hidden;
        .span-block{
            margin: 0 0 5px 0; display: inline;
        }
    }

    .center-general-form-div {
        .form-input-group.form-div {
            min-height: auto;
        }
    }
    
    /** Data table **/

    .data-table-root{
        .table-custom-list{
            
            thead .width-15 { min-width: 70px; }
            thead .width-20 { min-width: 70px; }

        } 

        p { font-size: 16px; }
        h3{ font-size: 16px; }
        .status{ font-size: 16px; }

    } 

    /** End of Data table **/

    /* modal */

    .modal-xl-size {
        .modal-dialog { max-width: calc(100% - 40px); }
        .modal-close {
            button.close { padding: 2px 2px 2px 2px; margin: 10px; line-height: 30px; height: 30px; width: 30px; font-size: 18px; }
        }
    }
    

    /* End of modal */

}



@media (min-width: 1024px) and (max-width: 1366px) {

}


@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

    

}