@import url(bootstrap.min.css);
@import url(feather.min.css);
@import url(select-custom.css);
@import url(select2.min.css);
@import url(datepicker-b4.min.css);
/* font-family */
/* End of font-family */
/* colors */
/* End of colors */
/* default css */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background-color: white;
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  background-color: white;
  display: block;
  height: 100%;
}

.wrapper .btn.focus, .wrapper .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.wrapper .btn {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.container {
  max-width: 1200px;
}

.container-lg {
  max-width: 1280px;
}

.page-link:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* End of default css */
/* general css */
.top-minues10 {
  margin-top: -10px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.p0 {
  padding: 0px !important;
}

.plr-40 {
  padding-right: 40px !important;
  padding-left: 40px !important;
}

.mlr-40 {
  margin-right: -40px !important;
  margin-left: -40px !important;
}

.plr-20 {
  padding-right: 20px !important;
  padding-left: 20px !important;
}

.mlr-20 {
  margin-right: -20px !important;
  margin-left: -20px !important;
}

.plr-10 {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.mlr-10 {
  margin-right: -10px !important;
  margin-left: -10px !important;
}

.min-width-130 {
  min-width: 130px;
}

.min-width-110 {
  min-width: 110px;
}

/* End of general css */
.position-initial {
  position: initial;
}

.btn.btn-primary {
  padding: 0 20px;
  margin: 0;
  border: 1px solid #1F9CDE;
  background-color: #1F9CDE;
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  border-radius: 4px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 1.25px;
  text-align: center;
  line-height: 16px;
  text-transform: uppercase;
  -webkit-box-shadow: 0 5px 5px 0 rgba(12, 64, 107, 0.05);
          box-shadow: 0 5px 5px 0 rgba(12, 64, 107, 0.05);
}

.btn.btn-primary:hover, .btn.btn-primary:focus {
  border: 1px solid #1982b9;
  background-color: #1982b9;
  -webkit-box-shadow: 0 3px 10px 0 rgba(12, 64, 107, 0.3);
          box-shadow: 0 3px 10px 0 rgba(12, 64, 107, 0.3);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.btn.btn-primary-outline {
  padding: 0 20px;
  margin: 0;
  border: 1px solid #1F9CDE;
  background-color: transparent;
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  border-radius: 4px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #1F9CDE;
  letter-spacing: 1.25px;
  text-align: center;
  line-height: 16px;
  text-transform: capitalize;
  -webkit-box-shadow: 0 5px 5px 0 rgba(12, 64, 107, 0.05);
          box-shadow: 0 5px 5px 0 rgba(12, 64, 107, 0.05);
}

.btn.btn-primary-outline:hover, .btn.btn-primary-outline:focus {
  border: 1px solid #1982b9;
  background-color: #1982b9;
  color: #fff;
  -webkit-box-shadow: 0 3px 10px 0 rgba(12, 64, 107, 0.3);
          box-shadow: 0 3px 10px 0 rgba(12, 64, 107, 0.3);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.btn-link {
  font-weight: 600;
  font-size: 16px;
  color: #1F9CDE;
  letter-spacing: -0.06px;
  text-align: center;
  line-height: 24px;
  padding: 5px 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  font-family: 'Open Sans', sans-serif;
}

.btn-link:hover, .btn-link:focus {
  color: #1982b9;
}

.btn.btn-blue {
  padding: 5px 20px;
  margin: 0;
  background: rgba(31, 156, 222, 0.08);
  border: 1px solid rgba(31, 156, 222, 0.08);
  font-weight: 600;
  font-size: 18px;
  color: #1F9CDE;
  letter-spacing: -0.13px;
  width: 100%;
  text-align: center;
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  font-family: 'Open Sans', sans-serif;
  border-radius: 0;
}

.btn.btn-blue:hover, .btn.btn-blue:focus {
  background: #1f9cde;
  border: 1px solid #1f9cde;
  -webkit-box-shadow: 0 3px 10px 0 rgba(31, 156, 222, 0.1);
          box-shadow: 0 3px 10px 0 rgba(31, 156, 222, 0.1);
  color: #fff;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.btn.btn-blue.disabled {
  background: rgba(63, 63, 63, 0.04);
  border: 1px solid rgba(63, 63, 63, 0.54);
  color: #3F3F3F;
  opacity: 0.31;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.max3-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.display_show {
  display: block;
}

.position-fixed {
  position: unset !important;
  overflow: hidden;
}

/* add svg icons */
.right-arrowicon {
  -webkit-mask: url(../images/icons/arrow-right.svg) no-repeat 50% 50%;
  mask: url(../images/icons/arrow-right.svg) no-repeat 50% 50%;
  -webkit-mask-size: contain;
  display: inline-block;
  vertical-align: middle;
  -webkit-mask-size: cover;
          mask-size: cover;
  width: 24px;
  height: 18px;
  color: rgba(110, 132, 163, 0.5);
  fill: rgba(110, 132, 163, 0.5);
  background-color: rgba(110, 132, 163, 0.5);
  margin: 0 0 0 10px;
}

/* select2 */
.select2-container .select2-dropdown {
  margin-top: -10px;
}

.select-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-control.select-control {
  border: 1px solid #C0C0C0;
  border-radius: 0px;
  min-height: 50px;
  color: #3F3F3F;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  -webkit-appearance: none;
  background: #fff;
  position: relative;
}

.form-control.select-control:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.select-custom2 span.select2-selection.select2-selection--single {
  border: 1px solid #DFEAF1 !important;
  border-radius: 0px;
  min-height: 50px;
  color: #3C454C;
  padding: 10px 10px;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  -webkit-appearance: none;
  background: #FAFCFD;
  position: relative;
}

.select-custom2 .select2.select2-container .select2-selection .select2-selection__arrow {
  border-radius: 0 0px 0px 0;
  height: 37px;
  width: 37px;
  background-color: transparent;
  border: none;
}

.select-custom2 .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: none;
  top: 10px;
  left: 5px;
  speak: none;
  font-variant: normal;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  color: rgba(63, 63, 63, 0.42);
}

.select-custom2 .select2-container--default .select2-selection--single .select2-selection__arrow b::before {
  content: '\e5c5';
}

.select2-container .select2-dropdown .select2-search input {
  outline: none;
  border: 1px solid #DFEAF1;
  border-bottom: none;
  padding: 10px 10px;
}

.select2-container .select2-dropdown .select2-results ul {
  background: #fff;
  border: 1px solid #DFEAF1;
}

.select2-container .select2-dropdown .select2-results ul .select2-results__option--highlighted[aria-selected] {
  background-color: #1F9CDE;
}

.select2-results__option {
  padding: 10px;
}

/* single select */
.selectbox-inline {
  position: relative;
}

.selectbox-inline .select-custom2 span.select2-selection.select2-selection--single {
  border: 1px solid transparent !important;
  border-radius: 0px;
  min-height: 40px;
  color: #3C454C;
  padding: 7px 10px;
  font-size: 16px;
  font-weight: 600;
  width: auto;
  -webkit-appearance: none;
  background: transparent;
  position: relative;
  border-radius: 10px;
}

.selectbox-inline .select-custom2 .select2.select2-container .select2-selection .select2-selection__arrow {
  border-radius: 0 0px 0px 0;
  height: 47px;
  width: 37px;
  background-color: transparent;
  border: none;
}

.selectbox-inline .select-custom2.select-common span.select2-selection.select2-selection--single {
  border: 1px solid #C7C7C7 !important;
  height: 58px;
  background-color: transparent;
  border-radius: 0;
  font-size: 20px;
  font-weight: 300;
  padding: 12px 15px;
}

/* select with number */
.max-input-div {
  position: relative;
}

.max-input-div .select-box.select-custom2 {
  position: absolute;
  left: 1px;
  top: 1px;
  background-color: #fff;
  width: 95px;
  border-right: 0px solid #C7C7C7;
  min-height: 46px;
}

.max-input-div .selectbox-inline .select-custom2 span.select2-selection.select2-selection--single {
  border: 1px solid transparent !important;
  border-radius: 0px;
  min-height: 44px;
  color: #3C454C;
  padding: 6px 10px;
  font-size: 16px;
  font-weight: 600;
  width: auto;
  -webkit-appearance: none;
  background: transparent;
  position: relative;
  border-radius: 10px;
  margin: 2px 0 2px 0;
}

.max-input-div .form-control {
  padding-left: 100px !important;
  padding-right: 20px !important;
}

.max-input-div .btn-link {
  line-height: 34px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: auto;
  padding: 10px 15px;
  min-height: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* End of number select **/
/*  End of general css */
/* header */
header {
  position: relative;
}

header .header-div.scrollUp {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  background-color: white;
}

header .fixed_top.header-div .top-nav1 {
  padding: 10px 0 20px 0;
}

header .fixed_top.header-div .scroll-logo {
  display: block;
}

header .header-div.header-bgcolor {
  padding: 0;
  margin: 0;
  background-color: white;
  position: fixed;
  z-index: 9999;
  width: 100%;
  min-height: 75px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

header .header-div.header-bgcolor .logo_img {
  width: 200px;
}

header .header-div.header-bgcolor .logo-div {
  min-height: 75px;
}

header .header-div.header-bgcolor .nav-center-div {
  min-height: 75px;
}

header .header-div.header-bgcolor .header-right-div {
  min-height: 75px;
}

header .header-div.header-bgcolor .logo_img.text-logo {
  display: block;
  width: auto;
  height: 40px;
}

header .header-div {
  min-height: 96px;
}

header .header-div .logo-div {
  min-height: 96px;
  position: relative;
}

header .header-div .logo-div:after {
  content: "";
  border-right: 1px solid #E0E4E2;
  height: 56px;
  position: absolute;
  right: 0;
}

header .header-div .nav-center-div {
  min-height: 96px;
}

header .header-div {
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 999;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 36, 17, 0.1);
  -webkit-box-shadow: 0 12px 34px 0 rgba(224, 228, 226, 0.17);
          box-shadow: 0 12px 34px 0 rgba(224, 228, 226, 0.17);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  /* start navigation  **/
  /*  End of navigation  */
}

header .header-div .logo-div {
  padding: 0px 0px 0px 0px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  width: 25%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-div .nav-center-div {
  padding: 15px 0px 15px 0px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  width: 75%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .header-div .main-logo {
  display: block;
}

header .header-div .logo_img {
  -webkit-transition: display ease-in-out 0.5s;
  transition: display ease-in-out 0.5s;
  width: 235px;
  height: 56px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: left;
     object-position: left;
}

header .header-div .top-nav1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0 0 0;
  width: 100%;
}

header .header-div .inner-top-header-div {
  padding: 0;
  margin: 0;
}

header .header-div .inner-top-header-div.top-nav1 {
  padding: 0;
  margin: 0;
  float: right;
}

header .header-div .cd-shadow-layer {
  position: fixed;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  z-index: 99999;
  display: none;
}

header .header-div .cd-shadow-layer.is-visible {
  display: block;
  -webkit-animation: cd-fade-in 0.3s;
  animation: cd-fade-in 0.3s;
}

header .header-div .display-none {
  display: none !important;
}

header .header-div .nav-div .closebtn {
  display: none;
}

header .header-div .ullist-inline {
  padding: 0 0 2px 0;
  margin: 0px 0px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 45px;
}

header .header-div .ullist-inline li {
  padding: 0;
  margin: 0 35px 0 0;
  display: inline-block;
  text-transform: capitalize;
  font-size: 14px;
}

header .header-div .ullist-inline li.nav-item.dropdown.btn-user-dropdown {
  margin: 0;
}

header .header-div .ullist-inline li:last-child {
  margin: 0 0 0 0;
}

header .header-div .ullist-inline li .nav-link {
  color: #000000;
  padding: 10px 0px 3px 0;
  font-weight: 400;
  border-bottom: 1px solid transparent;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: -0.13px;
}

header .header-div .ullist-inline li .nav-link {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

header .header-div .ullist-inline li .nav-link:before {
  left: 0px;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #000000;
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%);
}

header .header-div .ullist-inline li .nav-link:hover:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

header .header-div .ullist-inline li .nav-link:before, header .header-div .ullist-inline li .nav-link:after, header .header-div .ullist-inline li .nav-link > span:before, header .header-div .ullist-inline li .nav-link > span:after {
  content: '';
  position: absolute;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

header .header-div .ullist-inline li .nav-link:hover {
  color: #000000;
}

header .header-div .ullist-inline li.active .nav-link {
  color: #000000;
}

header .header-div .ullist-inline li.active .nav-link:before {
  left: 0px;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #000000;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

header .header-div .ullist-inline .dropdown-toggle::after {
  display: none;
}

header .header-div .ullist-inline .dropdown-menu {
  border: 1px solid #DFEAF1;
  min-width: 125px;
  border-radius: 0px;
}

header .header-div .ullist-inline .dropdown-menu li {
  display: block;
  width: 100%;
}

header .header-div .ullist-inline .dropdown-menu li a {
  padding: 6px 15px;
  width: 100%;
  display: block;
  margin: 0 0 5px 0;
  color: rgba(11, 22, 43, 0.5);
  font-size: 16px;
  font-weight: 500;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .header-div .ullist-inline .dropdown-menu li a:hover {
  background-color: #F2F7F9;
  color: #0B162B;
}

header .header-div .nav-m-bar .menu-bars {
  display: none;
}

/* End of header */
/* banner */
.main-middle-area {
  padding: 96px 0 0 0;
  margin: 0;
  position: relative;
  background-color: #FDFDFD;
  min-height: 100vh;
}

.heading-div h1 {
  padding: 0;
  margin: 0 0 30px 0;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.4);
  letter-spacing: -0.09px;
  text-align: center;
  line-height: 32px;
  font-weight: 400;
}

.heading-div p {
  padding: 0;
  margin: 0 0 30px 0;
  color: #092A47;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
}

.heading-div .span-block {
  display: block;
}

.form-div {
  padding: 0;
  margin: 0 0 10px 0;
  position: relative;
}

.form-div .form-group {
  margin-bottom: 20px;
}

.form-div .form-group label {
  font-size: 16px;
  color: #888888;
  letter-spacing: 0;
  font-weight: 400;
  margin-bottom: 8px;
  line-height: 20px;
}

.form-div .form-group .form-control {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.32);
  border-radius: 4px;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  line-height: 24px;
  min-height: 50px;
  padding: 10px 16px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 5px;
  letter-spacing: 0.15px;
  font-family: 'Open Sans', sans-serif;
}

.form-div .form-group .form-control::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.form-div .form-group .form-control::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.form-div .form-group .form-control:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.form-div .form-group .form-control:-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.form-div .form-group textarea.form-control {
  resize: none;
}

.form-div .form-group-custom .form-control {
  background: #FFFFFF;
  border: 1px solid rgba(192, 192, 192, 0.6);
  -webkit-box-shadow: 0 3px 6px 0 rgba(192, 192, 192, 0.2);
          box-shadow: 0 3px 6px 0 rgba(192, 192, 192, 0.2);
  border-radius: 2px;
  font-family: 'Open Sans', sans-serif;
}

.form-div .password-box {
  padding: 0;
  position: relative;
}

.form-div .password-box.form-group .form-control {
  padding-right: 50px;
}

.form-div .password-box .password-view-click {
  padding: 0;
  margin: 0;
  min-height: 50px;
  min-width: 50px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: none;
  color: rgba(151, 151, 151, 0.4);
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
  z-index: 9;
  cursor: pointer;
}

.form-div .password-box .password-view-click .password-view {
  color: rgba(0, 0, 0, 0.2);
  font-size: 24px;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}

.form-div .password-box .password-view-click .password-hide {
  color: rgba(0, 0, 0, 0.2);
  font-size: 24px;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}

.form-div .password-box .password-view-click:hover, .form-div .password-box .password-view-click:focus, .form-div .password-box .password-view-click:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.form-div .password-box .password-view-click:hover .password-view, .form-div .password-box .password-view-click:focus .password-view, .form-div .password-box .password-view-click:active .password-view {
  color: rgba(0, 0, 0, 0.2);
}

.form-div .custom-switch {
  position: relative;
  min-height: 50px;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-div .custom-switch .custom-control-input {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 1rem;
  height: 1.25rem;
  opacity: 0;
  display: none;
}

.form-div .custom-switch .custom-control-label {
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
  padding-left: 62px;
  cursor: pointer;
}

.form-div .custom-switch .custom-control-label::before {
  left: 0rem;
  width: 42px;
  pointer-events: all;
  border-radius: 100px;
  position: absolute;
  top: 0;
  display: block;
  height: 20px;
  pointer-events: none;
  content: "";
  background-color: #fff;
  border: 1px solid rgba(151, 151, 151, 0.48);
}

.form-div .custom-switch .custom-control-label::after {
  position: absolute;
  display: block;
  content: "";
  background: no-repeat 50%/50% 50%;
  top: 4px;
  left: 4px;
  width: calc(1rem - 4px);
  height: calc(1rem - 4px);
  background-color: #D8D8D8;
  border-radius: .5rem;
  -webkit-transform: translateX(22px);
  transform: translateX(22px);
  transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-transform .15s ease-in-out;
  -webkit-transition: background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-transform .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-transform .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: transform .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: transform .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-transform .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: transform .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-transform .15s ease-in-out;
}

.form-div .custom-switch .custom-control-label::before, .form-div .custom-switch .custom-file-label, .form-div .custom-switch .custom-select {
  -webkit-transition: background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.form-div .custom-switch .custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #1AAA44;
  background-color: #1AAA44;
}

.form-div .custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #fff;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

.form-div .custom-switch .text-span {
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  letter-spacing: -0.12px;
}

.general-single-forms-section {
  padding: 0;
  margin: 0;
  position: relative;
  min-height: calc(100vh - 96px);
}

.general-single-forms-section .general-single-forms-div {
  padding: 0;
  margin: 0;
  position: relative;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.general-single-forms-section .general-single-forms-div .height-100 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center-general-form-div {
  padding: 110px 0 80px 0;
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 420px;
}

.center-general-form-div .forgot-div {
  text-align: center;
  padding: 0px 0 15px 0;
}

.center-general-form-div .forgot-div p {
  font-size: 16px;
  color: #000000;
  letter-spacing: -0.06px;
  text-align: center;
  line-height: 20px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

.center-general-form-div .form-input-group.form-div {
  min-height: 125px;
}

.page-header {
  padding: 30px 0 20px 0;
  margin: 0;
  position: relative;
  /* connection */
  /* End of connection */
}

.page-header h1 {
  padding: 4px 0;
  margin: 0 0 0px 0;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.4);
  letter-spacing: -0.15px;
  line-height: 32px;
  font-weight: 600;
}

.page-header .search-div {
  padding: 0px 0;
  margin: 0;
}

.page-header .search-box {
  padding: 0px 0;
  margin: 0;
  position: relative;
}

.page-header .search-box .form-search {
  background: rgba(0, 0, 0, 0.04);
  border: 1px solid #F5F6FA;
  border-radius: 4px;
  font-weight: 300;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
  padding: 5px 35px 5px 15px;
  min-height: 40px;
  margin: 0 0 0 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.page-header .search-box .form-search::-webkit-input-placeholder {
  color: #000000;
}

.page-header .search-box .form-search::-moz-placeholder {
  color: #000000;
}

.page-header .search-box .form-search:-ms-input-placeholder {
  color: #000000;
}

.page-header .search-box .form-search:-moz-placeholder {
  color: #000000;
}

.page-header .search-box .icon-search {
  font-size: 21px;
  color: #000000;
}

.page-header .search-box .btn-search {
  position: absolute;
  top: 0px;
  right: 0px;
  background: transparent;
  border: 1px solid transparent;
  outline: none;
  padding: 8px 10px 6px 10px;
  min-height: 40px;
  width: 42px;
}

.page-header .connection-right {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.page-header .connection-right .mr-10 {
  margin-right: 10px;
}

.page-header .connection-right .search-div {
  width: 100%;
}

.page-header .connection-right .search-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.page-header .connection-right .search-box .form-search {
  padding: 7px 35px 6px 15px;
  min-height: 42px;
  width: 100%;
}

.page-header .connection-right .search-box .icon-search {
  top: 11px;
}

.page-header .connection-right .search-hover-div .search-box {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.page-header .connection-right .search-hover-div .search-box .form-search {
  width: 42px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.page-header .connection-right .search-hover-div .search-box .form-search::-webkit-input-placeholder {
  color: transparent;
}

.page-header .connection-right .search-hover-div .search-box .form-search::-moz-placeholder {
  color: transparent;
}

.page-header .connection-right .search-hover-div .search-box .form-search:-ms-input-placeholder {
  color: transparent;
}

.page-header .connection-right .search-hover-div .search-box .form-search:-moz-placeholder {
  color: transparent;
}

.page-header .connection-right .search-hover-div .search-box .icon-search-cancel {
  font-size: 20px;
  background-color: transparent;
  height: 24px;
  width: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 2px 0;
  display: none;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.page-header .connection-right .search-hover-div .search-box.full-width-input .form-search {
  width: 100%;
  padding-right: 40px;
  padding-left: 15px;
}

.page-header .connection-right .search-hover-div .search-box.full-width-input .form-search::-webkit-input-placeholder {
  color: #000000;
}

.page-header .connection-right .search-hover-div .search-box.full-width-input .form-search::-moz-placeholder {
  color: #000000;
}

.page-header .connection-right .search-hover-div .search-box.full-width-input .form-search:-ms-input-placeholder {
  color: #000000;
}

.page-header .connection-right .search-hover-div .search-box.full-width-input .form-search:-moz-placeholder {
  color: #000000;
}

.page-header .connection-right .search-hover-div .search-box.full-width-input .icon-search {
  display: none;
}

.page-header .connection-right .search-hover-div .search-box.full-width-input .icon-search-cancel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-back-top {
  padding: 35px 0 20px 0;
  margin: 0;
  position: relative;
}

.page-back-top .back-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page-back-top h2 {
  padding: 6px 0 2px 0;
  margin: 0 0 0px 0;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.4);
  letter-spacing: -0.15px;
  line-height: 32px;
  font-weight: 400;
  display: inline-block;
}

.page-back-top .back-link-div {
  display: inline-block;
}

.page-back-top .link-back {
  margin: 0 30px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 40px;
  font-weight: 600;
  font-size: 20px;
  color: #000000;
  letter-spacing: -0.15px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.page-back-top .link-back span.material-icons {
  margin: 0 40px 0 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.page-back-top .link-back:hover, .page-back-top .link-back:focus, .page-back-top .link-back:active {
  color: #1F9CDE;
}

/* End of Search */
/* data table  */
.action-btn-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.btn.btn-action {
  background: rgba(110, 132, 163, 0.1);
  border-radius: 4px;
  min-height: 40px;
  padding: 2px;
  min-width: 40px;
  font-size: 23px;
  color: #6E84A3;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn.btn-action.btn-edit {
  background: #f1f3f6;
  font-size: 22px;
  color: #6E84A3;
}

.btn.btn-action.btn-edit:hover {
  background: #6e84a3;
  color: #fff;
}

.btn.btn-action.btn-delete {
  background: #fcedef;
  font-size: 23px;
  color: #E63757;
}

.btn.btn-action.btn-delete:hover {
  background: #e63757;
  color: #fff;
}

.btn.btn-action.btn-qr-code {
  background: #eaf6fc;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  padding: 0 15px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn.btn-action.btn-qr-code .custom-icon {
  font-size: 23px;
  color: #1F9CDE;
  margin: 0 8px 0 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn.btn-action.btn-qr-code:hover {
  background: #1f9cde;
  color: #fff;
}

.btn.btn-action.btn-qr-code:hover .custom-icon {
  color: #fff;
}

.data-table-root {
  padding: 0 0 20px 0;
  margin: 0;
  position: relative;
  /* custom table */
  /* End of custom table */
}

.data-table-root .table-custom-list {
  padding: 0;
  margin: 0;
  border: none !important;
}

.data-table-root .table-custom-list thead .sorting {
  background-image: none;
}

.data-table-root .table-custom-list thead > tr > th {
  font-weight: 400;
  background-color: #F1F1F1;
  border: none;
  padding: 10px 15px 10px 15px;
  font-size: 16px;
  line-height: 20px;
  color: #888888;
  letter-spacing: -0.12px;
}

.data-table-root .table-custom-list thead .sorting:before, .data-table-root .table-custom-list thead .sorting_asc:before, .data-table-root .table-custom-list thead .sorting_desc:before, .data-table-root .table-custom-list thead .sorting_asc_disabled:before, .data-table-root .table-custom-list thead .sorting_desc_disabled:before {
  font-family: Feather !important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e931" !important;
  color: #000000 !important;
  bottom: 10px;
  right: 11px;
  border-radius: 100px;
  border: 1px solid #C0C0C0;
  font-size: 12px;
  padding: 0 0 6px 3px;
  height: 20px;
  width: 20px;
}

.data-table-root .table-custom-list thead .sorting_asc::after, .data-table-root .table-custom-list thead .sorting:after, .data-table-root .table-custom-list thead .sorting_desc:after {
  font-family: Feather !important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e92e" !important;
  color: #000000 !important;
  bottom: 10px;
  right: 11px;
  border-radius: 100px;
  font-size: 12px;
  padding: 0 4px 1px 0;
}

.data-table-root .table-custom-list tbody td {
  padding: 13px 15px 13px 15px !important;
  vertical-align: middle;
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  color: #000000;
  font-weight: 300;
  font-size: 20px;
  border: none !important;
  margin: 0 0 10px 0;
  border-top: 10px solid #fdfdfd !important;
  border-collapse: separate;
  border-spacing: 0 15px;
}

.data-table-root .table-custom-list tbody td:first-child {
  padding: 13px 15px !important;
}

.data-table-root .table-custom-list thead > tr > th.sorting_asc, .data-table-root .table-custom-list thead > tr > th.sorting_desc, .data-table-root .table-custom-list thead > tr > th.sorting, .data-table-root .table-custom-list thead > tr > td.sorting_asc, .data-table-root .table-custom-list thead > tr > td.sorting_desc, .data-table-root .table-custom-list thead > tr > td.sorting {
  padding-right: 40px !important;
}

.data-table-root .table-custom-list thead .width-10 {
  width: 10%;
  min-width: 100px;
}

.data-table-root .table-custom-list thead .width-15 {
  width: 15%;
  min-width: 100px;
}

.data-table-root .table-custom-list thead .width-20 {
  width: 20%;
  min-width: 100px;
}

.data-table-root .table-custom-list thead .width-25 {
  width: 25%;
  min-width: 100px;
}

.data-table-root .table-custom-list thead .width-40 {
  width: 40%;
  min-width: 100px;
}

.data-table-root .mr-6 {
  margin-right: 6px;
}

.data-table-root p {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.52);
}

.data-table-root p.text-black {
  font-size: 18px;
  color: black;
}

.data-table-root h3 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 20px;
  color: #3F3F3F;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 180px;
}

.data-table-root h3.font-size-18 {
  font-size: 18px;
}

.data-table-root .status {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 20px;
  color: #3F3F3F;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 180px;
}

.data-table-root .status.active-status {
  color: #1AAA44;
}

.data-table-root .status.inactive-status {
  color: #E63757;
}

/* End of data table  */
.white-card-top {
  padding: 0;
  margin: 0;
  position: relative;
}

.white-card-top .white-card-top-root {
  padding: 20px 40px 0px 40px;
  margin: 0;
  position: relative;
  background: #FFFFFF;
  border: 1px solid rgba(192, 192, 192, 0.3);
  border-radius: 6px;
}

.white-card-top .form-custom-root {
  margin: 0 0 5px 0;
}

.white-card-top .form-custom-root .btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 28px 0 0 0;
}

.white-card-top .form-custom-root .btn.btn-primary {
  min-height: 50px;
  padding: 5px 20px;
  line-height: 24px;
  font-size: 16px;
  font-weight: 500;
}

.white-card-main-div {
  padding: 0;
  margin: 0 0 50px 0;
  position: relative;
}

.white-card-main-div .white-card-root {
  padding: 30px 25px 10px 25px;
  margin: 0;
  position: relative;
  background: #FFFFFF;
  border: 1px solid rgba(192, 192, 192, 0.3);
  border-radius: 6px 6px 0px 0px;
}

/*  Add Activity  */
.upload-section-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.upload-section-div .upload-box-div {
  padding: 0;
  margin: 0 0 20px 0;
  position: relative;
}

.upload-section-div h4 {
  font-size: 16px;
  color: #888888;
  letter-spacing: 0;
  font-weight: 400;
  margin-bottom: 8px;
  line-height: 20px;
}

.upload-section-div .change-cover-btn {
  width: 100%;
  padding: 0;
  border-radius: 0px;
  border: none;
  cursor: pointer;
}

.upload-section-div .change-cover-btn .upload-i {
  margin: 0 0 10px 0;
}

.upload-section-div .change-cover-btn p {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  color: #1F9CDE;
  letter-spacing: -0.12px;
  text-align: center;
}

.upload-section-div .change-cover-btn label {
  padding: 7px 20px;
  margin: 0;
  width: 100%;
  background-color: rgba(31, 156, 222, 0.08);
  border: 1px dashed #1F9CDE;
  color: #1F9CDE;
  min-height: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.upload-section-div .change-cover-btn input[type="file"] {
  display: none;
}

.upload-section-div .image-update-box {
  padding: 0;
  margin: 0;
  position: relative;
}

.upload-section-div .image-box {
  cursor: pointer;
}

.upload-section-div .image-box .img-responsive {
  height: 165px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  border-radius: 4px 6px 4px 4px;
}

.upload-section-div .top-right-action {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
}

.upload-section-div .btn.btn-action {
  border-radius: 4px;
  min-height: 34px;
  padding: 0;
  min-width: 34px;
  font-size: 20px;
}

.upload-section-div .center-play-video-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(63, 63, 63, 0.35);
  border-radius: 4px;
}

.upload-section-div .btn.btn-transparent {
  background-color: transparent;
  color: #fff;
  padding: 0;
  margin: 0;
  border-radius: 100px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.upload-section-div .btn.btn-transparent span.material-icons.custom-icon {
  font-size: 36px;
}

.upload-section-div .btn.btn-transparent:hover, .upload-section-div .btn.btn-transparent:focus {
  color: rgba(255, 255, 255, 0.8);
}

.file-upload-root {
  padding: 0;
  margin: 0 0 20px 0;
  position: relative;
  min-height: 165px;
  background-color: #FFFFFF;
  border: 1px solid rgba(63, 63, 63, 0.16);
  border-radius: 4px;
}

.file-upload-root .no-file-upload-div {
  padding: 0;
  margin: 0;
  position: relative;
  min-height: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.file-upload-root .no-file-upload-div h4 {
  color: rgba(136, 136, 136, 0.48);
  margin-bottom: 0px;
}

.file-upload-root .file-upload-col-div {
  padding: 8px 15px;
  margin: 0;
  position: relative;
  background: white;
  border-bottom: 1px solid rgba(63, 63, 63, 0.16);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.file-upload-root .file-upload-col-div .left-text-file {
  width: calc(100% - 85px);
}

.file-upload-root .file-upload-col-div .right-text-file {
  width: 85px;
  text-align: right;
}

.file-upload-root .file-upload-col-div h3 {
  padding: 0;
  margin: 0;
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #3F3F3F;
  letter-spacing: -0.13px;
  white-space: nowrap;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 100%;
}

.add-new-user-root {
  padding: 0;
  margin: 0;
  position: relative;
}

.add-new-user-root .add-new-user-list-div {
  padding: 10px 0 0 0;
  margin: 0 0 20px 0;
  position: relative;
}

.add-new-user-root .add-new-user-col-div {
  padding: 8px 0px;
  margin: 0 0 8px 0;
  position: relative;
  background: white;
  border-bottom: 1px solid rgba(63, 63, 63, 0.16);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.add-new-user-root .add-new-user-col-div .left-text-file {
  width: 40%;
}

.add-new-user-root .add-new-user-col-div .center-text-file {
  width: 40%;
}

.add-new-user-root .add-new-user-col-div .right-text-file {
  width: 20%;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.add-new-user-root .add-new-user-col-div h3 {
  padding: 0 10px 0 0;
  margin: 0;
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #3F3F3F;
  letter-spacing: -0.13px;
  white-space: nowrap;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 100%;
}

.add-new-user-root .add-new-user-col-div p {
  padding: 0 10px 0 0;
  margin: 0;
  position: relative;
  font-size: 18px;
  line-height: 32px;
  color: #000000;
  letter-spacing: -0.13px;
  font-weight: 400;
  white-space: nowrap;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 100%;
}

.add-new-user-root .btn.btn-action {
  border-radius: 4px;
  min-height: 34px;
  padding: 0;
  min-width: 34px;
  font-size: 20px;
}

.add-new-user-root .btn.btn-action .fe.fe-edit {
  font-size: 18px;
}

.white-card-root-footer {
  padding: 20px 25px 20px 25px;
  margin: 0;
  position: relative;
  background: #FFFFFF;
  border: 1px solid rgba(192, 192, 192, 0.3);
  border-top: 0px;
  border-radius: 0px 0px 6px 6px;
}

.white-card-root-footer .footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* modal */
.modal-custom .modal-dialog {
  max-width: 550px;
}

.modal-custom .modal-content {
  background: #FFFFFF;
  border: 1px solid #EDF2F9;
  -webkit-box-shadow: 0 2px 24px 0 rgba(110, 132, 163, 0.08);
          box-shadow: 0 2px 24px 0 rgba(110, 132, 163, 0.08);
  border-radius: 6px;
}

.modal-custom .modal-header {
  padding: 20px 40px;
  border-bottom: 1px solid rgba(176, 176, 176, 0.2);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-custom .modal-header button.close {
  padding: 0;
  margin: 0;
  line-height: 30px;
}

.modal-custom .modal-header h4.modal-title {
  font-weight: 600;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.72);
  letter-spacing: -0.15px;
  width: 100%;
  max-width: calc(100% - 30px);
}

.modal-custom .modal-body {
  padding: 30px 40px 5px 40px;
}

.modal-custom .modal-footer {
  padding: 5px 40px 30px 40px;
  border-top: 0px solid rgba(176, 176, 176, 0.2);
}

.modal {
  z-index: 99999;
}

.modal-backdrop {
  z-index: 9999;
}

/* End of modal */
/* full modal */
.modal-xl-size .modal-dialog {
  max-width: 1100px;
}

.modal-xl-size .modal-content {
  background: #000;
  border: 0px solid #EDF2F9;
  -webkit-box-shadow: 0 2px 24px 0 rgba(110, 132, 163, 0.08);
          box-shadow: 0 2px 24px 0 rgba(110, 132, 163, 0.08);
  border-radius: 6px;
}

.modal-xl-size .modal-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
}

.modal-xl-size .modal-close button.close {
  padding: 5px 5px 5px 5px;
  margin: 10px;
  line-height: 30px;
  height: 53px;
  width: 53px;
  background-color: #DDDDDD;
  border-radius: 100px;
  color: #000;
  opacity: 1;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.modal-xl-size .modal-close button.close:hover, .modal-xl-size .modal-close button.close:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #fff;
}

.modal-xl-size .modal-body {
  padding: 0;
  min-height: 200px;
}

.modal-xl-size .modal-footer {
  padding: 5px 40px 30px 40px;
  border-top: 0px solid rgba(176, 176, 176, 0.2);
}

.video-box {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video-box video.full-video {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.video-box video.full-video:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.image-box {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.image-box .img-responsive {
  max-width: 100%;
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0;
}

/* End of full modal */
/* 11-08-2020 */
.file-form-group .change-cover-btn {
  width: 100%;
  padding: 0;
  border-radius: 0px;
  border: none;
  cursor: pointer;
}

.file-form-group .change-cover-btn label {
  padding: 7px 20px;
  margin: 0;
  width: 100%;
  background-color: rgba(31, 156, 222, 0.08);
  border: 1px dashed #1F9CDE;
  color: #1F9CDE;
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.file-form-group .change-cover-btn .upload-i {
  margin: 0 10px 0px 0;
}

.file-form-group .change-cover-btn p {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  color: #1F9CDE;
  letter-spacing: -0.12px;
  text-align: center;
}

.file-form-group .change-cover-btn .text-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.file-form-group .change-cover-btn input[type="file"] {
  display: none;
}

.upload-section-div .upload-box-div .image-box {
  position: relative;
}

.upload-section-div .upload-box-div .img-thumb {
  position: relative;
}

.upload-section-div .text-desc-file-box {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.upload-section-div .text-desc-file-box .text-desc-inner-box {
  padding: 10px;
  width: 100%;
  word-break: break-word;
  display: block;
}

.upload-section-div .text-desc-file-box h4 {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-word;
  text-overflow: ellipsis;
}

.upload-section-div .text-desc-file-box p {
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  line-height: 14px;
  letter-spacing: 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-word;
  text-overflow: ellipsis;
}

.upload-section-div .center-play-video-popup {
  z-index: 2;
}

.modal .common-center-div .image-box {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal .common-center-div .text-desc-file-box {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal .common-center-div .text-desc-file-box .text-desc-inner-box {
  padding: 20px;
  width: 100%;
  word-break: break-word;
  display: block;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0;
}

.modal .common-center-div .text-desc-file-box h4 {
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  width: 100%;
  word-break: break-word;
}

.modal .common-center-div .text-desc-file-box p {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
  width: 100%;
  word-break: break-word;
}

/* End of 11-08-2020 */
@media (min-width: 1025px) {
  header .header-div .ullist-inline .dropdown-menu {
    margin: 35px 0 0 0px;
    left: auto !important;
    right: 0;
  }
  header .header-div .ullist-inline .dropdown-menu:before {
    content: "";
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid white;
    border-right: 10px solid #ffffff;
    display: inline-block;
    position: absolute;
    top: -19px;
    right: -1px;
  }
  header .header-div .ullist-inline .btn-user-dropdown .dropdown-menu {
    border: none;
  }
  header .header-div .ullist-inline .btn-user-dropdown .dropdown-menu::before {
    top: -19px;
    right: 0px;
  }
  header .header-div .ullist-inline .btn-user-dropdown .dropdown-menu ul {
    margin-right: 1px;
  }
  .max-md-1920 {
    margin: 0 auto !important;
    max-width: 1920px !important;
    position: relative !important;
  }
}

@media (min-width: 1025px) and (max-width: 1290px) {
  .container {
    max-width: 1100px;
  }
}

@media (min-width: 1025px) and (max-width: 1450px) {
  .heading-div h2 {
    font-size: 36px;
    line-height: 48px;
  }
  h2 {
    font-size: 36px;
    line-height: 48px;
  }
  p {
    font-size: 14px;
    line-height: 26px;
  }
  .btn-link {
    font-size: 14px;
    line-height: 26px;
  }
}

@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  body.overflow-fixed {
    overflow-y: hidden;
  }
  .main-middle-area {
    padding: 76px 0 0 0;
  }
  header .header-div {
    min-height: 70px;
    background-color: white;
  }
  header .header-div .nav-center-div {
    width: 30%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    min-height: 70px;
    padding: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .header-div .logo-div {
    width: 70%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  header .header-div .logo-div:after {
    opacity: 0;
  }
  header .header-div .logo-div .logo_img {
    width: 200px;
    height: 46px;
  }
  header .header-div .top-nav1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .header-div .nav-m-bar .menu-bars {
    font-size: 30px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-div .nav-div {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 9999999;
    top: 0;
    right: -500px;
    background-color: #1F9CDE;
    overflow-x: hidden;
    padding-top: 60px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition: 0.8s right;
    transition: 0.8s right;
  }
  header .header-div .nav-div .closebtn {
    position: absolute;
    color: #ffffff;
    background-color: transparent;
    border-radius: 0 0 0 30px;
    top: 0;
    min-width: 45px;
    text-align: center;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: 0;
    font-size: 40px;
    font-weight: 300;
    line-height: 35px;
    margin-top: 15px;
    margin-right: 10px;
  }
  header .header-div .nav-div .closebtn:hover {
    color: rgba(255, 255, 255, 0.85);
  }
  header .header-div .nav-div .closebtn {
    display: block;
  }
  header .header-div .width80 {
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .header-div .opacityon {
    opacity: 1;
  }
  header .header-div .cd-shadow-layer.displayblock {
    display: block;
    height: 100%;
    overflow: hidden;
  }
  header .header-div .nav {
    margin: 0 auto;
  }
  header .header-div .max-container-container {
    bottom: 20px;
  }
  header .header-div .banner-caption {
    padding: 0px 0;
  }
  header .header-div .banner-section .banner-div .center_title .social-icon-div ul {
    margin: 0 0 8px 0;
  }
  header .header-div .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .header-div .header-right-div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-div .logo-div {
    padding: 15px 0;
    min-height: 70px;
  }
  header .header-div .nav-div .closebtn {
    display: block;
    color: #ffffff;
  }
  header .header-div .ullist-inline li {
    width: 100%;
    margin: 0;
  }
  header .header-div .ullist-inline li .nav-link {
    color: rgba(255, 255, 255, 0.8) !important;
    padding: 10px 20px;
    white-space: nowrap;
    width: 100%;
    text-align: left;
  }
  header .header-div .ullist-inline li.active .nav-link {
    color: white !important;
  }
  header .header-div a.btn.btn-blue.top-minues10 {
    margin: 10px !important;
    border-radius: 0px;
  }
  header .header-div .ullist-inline li .nav-link.btn-user {
    margin: 0px 0 0 0;
    width: 100%;
    border-radius: 0px;
  }
  header .header-div .ullist-inline li .nav-link.btn-user::before {
    display: none;
  }
  header .header-div .dropdown-toggle::after {
    margin: 10px 0 10px 10px;
  }
  header .header-div .dropdown-menu.show {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    min-width: 100% !important;
    width: 100%;
    margin: 0rem 0 0;
    -webkit-transform: none !important;
            transform: none !important;
    text-align: center;
  }
  header .header-div.scrollUp {
    -webkit-transform: initial;
            transform: initial;
  }
  .position-fixed {
    overflow: hidden;
  }
  .center-general-form-div .form-input-group.form-div {
    min-height: auto;
  }
  /* Search */
  .page-header .connection-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 16px;
  }
  .page-header .connection-right .search-div {
    margin-bottom: 10px;
  }
  .page-header .connection-right .search-div .search-box .form-search {
    width: 100%;
    padding-right: 40px;
    padding-left: 15px;
  }
  .page-header .connection-right .search-div .search-box .form-search::-webkit-input-placeholder {
    color: #000000;
  }
  .page-header .connection-right .search-div .search-box .form-search::-moz-placeholder {
    color: #000000;
  }
  .page-header .connection-right .search-div .search-box .form-search:-ms-input-placeholder {
    color: #000000;
  }
  .page-header .connection-right .search-div .search-box .form-search:-moz-placeholder {
    color: #000000;
  }
  .page-header .connection-right .search-div .search-box .icon-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .page-header .connection-right .search-div .search-box .icon-search-cancel {
    display: none;
  }
  .page-header .connection-right .search-div .search-box.full-width-input .icon-search {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .page-header .connection-right .search-div .search-box.full-width-input .icon-search-cancel {
    display: none !important;
  }
  .page-header .connection-right .btn.btn-primary.btn-primary2 {
    width: 100%;
  }
  /* End of Search */
  /** Data table **/
  .data-table-root .table-custom-list thead .width-15 {
    min-width: 105px;
  }
  .data-table-root .table-custom-list thead .width-20 {
    min-width: 110px;
  }
  .data-table-root .table-custom-list thead .width-40 {
    min-width: 130px;
  }
  .data-table-root p {
    font-size: 16px;
  }
  .data-table-root h3 {
    font-size: 16px;
  }
  .data-table-root .status {
    font-size: 16px;
  }
  /** End of Data table **/
  /* modal */
  .modal-custom .modal-header {
    padding: 20px 20px;
  }
  .modal-custom .modal-body {
    padding: 30px 20px 5px 20px;
  }
  .modal-custom .modal-footer {
    padding: 5px 20px 30px 20px;
  }
  /* End of modal */
  .page-back-top .back-div {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .page-back-top .link-back span.material-icons {
    margin: 0 10px 0 0;
  }
  .white-card-top .white-card-top-root {
    padding: 20px 20px 20px 20px;
  }
  .white-card-top .white-card-top-root .btn-group {
    margin: 0px 0 0 0;
  }
  /* Add new activity */
  .white-card-main-div .white-card-root {
    padding: 30px 15px 10px 15px;
  }
  .file-upload-root .file-upload-col-div h3 {
    padding: 4px 0 3px 0;
    font-size: 14px;
    line-height: 24px;
  }
  .form-div .custom-switch {
    min-height: 40px;
  }
  .add-new-user-root .add-new-user-col-div {
    padding: 20px 0px;
    margin: 0 0 5px 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .add-new-user-root .add-new-user-col-div .left-text-file {
    width: 100%;
  }
  .add-new-user-root .add-new-user-col-div .center-text-file {
    width: 100%;
  }
  .add-new-user-root .add-new-user-col-div .right-text-file {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: left;
    margin: 10px 0 0 0;
  }
  /* End of Add new activity */
  /* modal */
  .modal-xl-size .modal-close button.close {
    padding: 2px 2px 2px 2px;
    margin: 10px;
    line-height: 30px;
    height: 30px;
    width: 30px;
    font-size: 18px;
  }
  /* End of modal */
}

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }
  body.overflow-fixed {
    overflow-y: hidden;
  }
  .main-middle-area {
    padding: 76px 0 0 0;
  }
  .heading-div h2 {
    font-size: 28px;
  }
  .heading-div p {
    font-size: 16px;
  }
  header .header-div {
    min-height: 70px;
    background-color: white;
  }
  header .header-div .nav-center-div {
    width: 30%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    min-height: 70px;
    padding: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .header-div .logo-div {
    width: 70%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  header .header-div .logo-div:after {
    opacity: 0;
  }
  header .header-div .logo-div .logo_img {
    width: 200px;
    height: 46px;
  }
  header .header-div .top-nav1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .header-div .nav-m-bar .menu-bars {
    font-size: 30px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-div .nav-div {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 9999999;
    top: 0;
    right: -500px;
    background-color: #1F9CDE;
    overflow-x: hidden;
    padding-top: 60px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition: 0.8s right;
    transition: 0.8s right;
  }
  header .header-div .nav-div .closebtn {
    position: absolute;
    color: #ffffff;
    background-color: transparent;
    border-radius: 0 0 0 30px;
    top: 0;
    min-width: 45px;
    text-align: center;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: 0;
    font-size: 40px;
    font-weight: 300;
    line-height: 35px;
    margin-top: 15px;
    margin-right: 10px;
  }
  header .header-div .nav-div .closebtn:hover {
    color: rgba(255, 255, 255, 0.85);
  }
  header .header-div .nav-div .closebtn {
    display: block;
  }
  header .header-div .width80 {
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .header-div .opacityon {
    opacity: 1;
  }
  header .header-div .cd-shadow-layer.displayblock {
    display: block;
    height: 100%;
    overflow: hidden;
  }
  header .header-div .nav {
    margin: 0 auto;
  }
  header .header-div .max-container-container {
    bottom: 20px;
  }
  header .header-div .banner-caption {
    padding: 0px 0;
  }
  header .header-div .banner-section .banner-div .center_title .social-icon-div ul {
    margin: 0 0 8px 0;
  }
  header .header-div .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .header-div .header-right-div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-div .logo-div {
    padding: 15px 0;
    min-height: 70px;
  }
  header .header-div .nav-div .closebtn {
    display: block;
    color: #ffffff;
  }
  header .header-div .ullist-inline li {
    width: 100%;
    margin: 0;
  }
  header .header-div .ullist-inline li .nav-link {
    color: rgba(255, 255, 255, 0.8) !important;
    padding: 10px 20px;
    white-space: nowrap;
    width: 100%;
    text-align: left;
  }
  header .header-div .ullist-inline li.active .nav-link {
    color: white !important;
  }
  header .header-div a.btn.btn-blue.top-minues10 {
    margin: 10px !important;
    border-radius: 0px;
  }
  header .header-div .ullist-inline li .nav-link.btn-user {
    margin: 0px 0 0 0;
    width: 100%;
    border-radius: 0px;
  }
  header .header-div .ullist-inline li .nav-link.btn-user::before {
    display: none;
  }
  header .header-div .dropdown-toggle::after {
    margin: 10px 0 10px 10px;
  }
  header .header-div .dropdown-menu.show {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    min-width: 100% !important;
    width: 100%;
    margin: 0rem 0 0;
    -webkit-transform: none !important;
            transform: none !important;
    text-align: center;
  }
  header .header-div.scrollUp {
    -webkit-transform: initial;
            transform: initial;
  }
  .position-fixed {
    overflow: hidden;
  }
  .prag-breack {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
  }
  .prag-breack .span-block {
    margin: 0 0 5px 0;
    display: inline;
  }
  .center-general-form-div .form-input-group.form-div {
    min-height: auto;
  }
  /** Data table **/
  .data-table-root .table-custom-list thead .width-15 {
    min-width: 70px;
  }
  .data-table-root .table-custom-list thead .width-20 {
    min-width: 70px;
  }
  .data-table-root p {
    font-size: 16px;
  }
  .data-table-root h3 {
    font-size: 16px;
  }
  .data-table-root .status {
    font-size: 16px;
  }
  /** End of Data table **/
  /* modal */
  .modal-xl-size .modal-dialog {
    max-width: calc(100% - 40px);
  }
  .modal-xl-size .modal-close button.close {
    padding: 2px 2px 2px 2px;
    margin: 10px;
    line-height: 30px;
    height: 30px;
    width: 30px;
    font-size: 18px;
  }
  /* End of modal */
}
/*# sourceMappingURL=style.css.map */